<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Star Wars API</h2>

  <p *ngIf="starshipRoulette">Name: {{starshipRoulette.name}}</p>
  <p *ngIf="starshipRoulette">Model: {{starshipRoulette.model}}</p>
  <p *ngIf="starshipRoulette">Manufacturer: {{starshipRoulette.manufacturer}}</p>
  <p *ngIf="starshipRoulette">Starship Class: {{starshipRoulette.starship_class}}</p>

  <button (click)="callStarWarsRoulette()">Roll the Dice!</button>

  <hr>

  <section>
    <h2>Search For A Star Wars Starship</h2>
    <p>Search String: {{name}}</p>
    <input [(ngModel)]="name" type="text" placeholder="Death Star">
    <input (click)="findStarship(name)" type="submit" value="Search">
  </section>

  <section *ngIf="starships">
    <ul>
      <li *ngFor="let starship of starships">{{starship.name}} -- {{starship.starship_class}}</li>
    </ul>
  </section>
  
</ion-content>